<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoPWN</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <!-- GET /coupon/ -->
    <%- include ('../includes/navigation.ejs')%>
    <%- include('../includes/message.ejs')%>
    <div class="container">
    <div class="row">
        <% if(locals.user.role.length > 0 ){ %>
            <% if(user.role !== "shopper"){%>
                <div class="col">
                <a href="/coupon/create">Create new coupon</a>
                </div>
                <% if(user.role === "admin"){ %>
                <div class="col">
                    <a href="/coupon/scrape">Scrape coupon</a>
                </div>
                <% } %>
            <% } %>
        <% } %>
    </div>
    <% if(locals.coupons){%>
    <form method="GET" action="/coupon/search">
        <div class="mb-3 mt-3">
            <div class="row">
                <div class="col">
                    <label for="store_name" class="form-label">Store Name:</label>
                    <input list="shops" class="form-control" name="store_name" id="store_name" autocomplete="off">        
                    <datalist id="shops">
                        <% for(st of stores){ %>
                            <option value="<%= st %>">
                        <% } %>
                    </datalist>
                </div> 
                <div class="col">   
                    <label for="sort" class="form-label">Sort By</label>
                    <select class="form-select" name="sort">
                        <option value="DE">Expiry date(descending)</option>
                        <option value="AE">Expiry date(ascending)</option>
                        <option value="LR">Lowest rating</option>
                        <option value="TR">Top rating</option>
                    </select>
                </div>
            </div>  
            <div class="row">
                <div class="col">
                    <label for="category" class="form-label">Category:</label>
                    <select class="form-select" name="category">
                        <option value="" selected>All</option>
                        <option value="Health & Beauty">Health & Beauty</option>
                        <option value="Electronic & Appliances">Electronic & Appliances</option>
                        <option value="Travel & Leisure">Travel & Leisure</option>
                        <option value="Sports & Outdoors">Sports & Outdoors</option>
                        <option value="E-Commerce">E-Commerce</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Groceries">Groceries</option>
                        <option value="Food Delivery">Food Delivery</option>
                        <option value="Restaurants">Restaurants</option>
                        <option value="E-Wallet">E-Wallet</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
            </div>     
        </div><br>
        <div class="row text-center">
            <div class="col">
                        <button type="submit" class="btn btn-success">Search</button>
                        <a class="btn btn-danger" href="/coupon/search">Reset</a>
            </div>
        </div>
    </form>
    <br>
    <div class="row">
        <%=coupons.length %>
    <table class="table table-responsive ">
     <thead>
        <tr>
            <th>Discount</th>
            <th>Offer</th>
            <th>Shop</th>
            <th>Expiry</th>
            <th>Link</th>
            <th>Code</th>
            <th>Category</th>
            <th>Rating</th>
            <th>Detail</th>
            <% if(user.role != "shopper"){ %>
            <th>Delete</th>
            <% } %>
        </tr>
     </thead>
     <tbody>
        <% for(let coupon of coupons) {%>
        <tr>
            <td><%= coupon.discount %></td>
            <td><%= coupon.offer %></td>
            <td><%= coupon.store_name.toUpperCase() %>&nbsp;</td>
            <td><%= coupon.expiry %></td>
            <td>
                <% if(coupon.link != "No link"){%>
                    <a href="<%= coupon.link %>" class="btn btn-info text-white">Claim</a>
                <% }else{%>
                    <b>No link provided</b>
                <% }%> 
            </td>
            <td><%= coupon.code %></td> 
            <td><%= coupon.category %></td> 
            <td class="text-nowrap"><%= coupon.likes %><span class="text-success"> likes</span><br><%= coupon.dislikes %> <span class="text-danger">dislikes</span></td>
            <td class="text-center"><a class="btn btn-primary" href="/coupon/<%= coupon._id %>">View</a></td>
            <% if(user.role != "shopper"){ %>
            <td class="text-center">
                <form method="POST" action="/coupon/<%= coupon._id %>?_method=DELETE">
                    <input type="hidden" value="DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <% } %>
        </tr>
        <% } %> 
     </tbody>
    </table>
    <a href="/coupon/search?">
    </div>
<%}else{%>
    <h1>There are no coupons available currently,please check again later</h1>
<%}%>
</div>
